{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post">
    {{ if .Section }}
    <a href="{{.Site.BaseURL}}/{{.Section}}"><i class="fa fa-chevron-left fa-fw"></i> Torna alle {{.Section}}</a>
    {{ end }}
    <article>
        <header>
            <div class="post-title">
                <h1 class="title">
                    <a class="title-link" href="{{ .Permalink | safeURL }}">
                        {{ .Title }}
                    </a>
                </h1>
            </div>
            <div class="post-meta">
                <div class="date">
                    <span class="posted-on">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                            {{ .Date | time.Format (.Site.Params.dateFormat | default "2 January 2006" ) }}
                        </time>
                    </span>
                    <span class="reading-time">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{ i18n "reading_time" .ReadingTime }}
                    </span>
                </div>
                {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
                {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>
        </header>

        <div>
            {{ with .Resources.GetMatch (index (.Params.images) 0) }}
            {{ $image := . }}
            {{ $image := $image.Crop "1280x250" }}
            <img src="{{ $image.RelPermalink }}">
            {{ end }}

            {{ if not .Params.IgnoreTableOfContents }}
            {{ .TableOfContents }}
            {{ end }}
            {{ .Content | safeHTML }}
        </div>

        {{ partial "socialshare.html" . }}


        {{ partial "donations.html" . }}

        <footer>
            {{ partial "posts/series.html" . }}
            {{ partial "posts/disqus.html" . }}
            {{ partial "posts/commento.html" . }}
            {{ partial "posts/utterances.html" . }}
        </footer>
    </article>

    {{ partial "posts/math.html" . }}
</section>
{{ end }}