<i class="fa fa-telegram"></i> Seguici tramite i nostri canali in rete:
<br>
<a href="/partecipa/#come-rimanere-in-contatto" class="big-button">Dove seguire ILS Este ➡️</a>

{{ with .Site.Params.donations }}

<hr>

<h4><i class="fa fa-life-ring"></i> Vuoi supportare la nostra attività?</h4>
Da questa pagina trovi come poter contribuire a ILS Este:<br>
<a href="/novita/come-contribuire/" class="big-button">Supporta ILS Este ➡️</a>
{{ end }}