<footer class="footer">
  <section class="container">
    ©
    {{ if (and .Site.Params.since (lt .Site.Params.since now.Year)) }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{ now.Year }}
    {{ with .Site.Params.author }} {{ . }} {{ end }}
    ·
    {{ if (and .Site.Params.license) }}
      {{ i18n "licensed_under" }} {{ .Site.Params.license | safeHTML }}
    ·
    {{ end }}
    {{ i18n "powered_by" }} <a href="https://gohugo.io/">Hugo</a> & <a href="https://github.com/luizdepra/hugo-coder/">Coder</a>
    {{ if (and .Site.Params.commit .GitInfo) }}
      [<a href="{{ .Site.Params.commit }}/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>]
    {{ end }} - <a href="{{ .Site.BaseURL }}/privacy-policy">🔒 Privacy Policy</a><br>
    Contenuti rilasciati in <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC BY-SA 4.0</a> - <a href="https://codeberg.org/este-linux/sito-web" target="_blank"><i class="fa fa-code"></i> Codice sorgente</a>
  </section>
</footer>

<script type="module">
  import Typebot from '/js/typebot-web.js'

  Typebot.initBubble({
    typebot: "ils-este-recupero-pc",
    apiHost: "https://typebot-bot.serviziliberi.it",
    previewMessage: {
      message: "Parla con noi 👇",
      autoShowDelay: 5000,
      avatarUrl:
        "https://www.ils.org/images/italian_linux_society_round_small.png",
    },
    theme: {
      button: {
        backgroundColor: "#0042DA",
        customIconSrc:
          "data:image/svg+xml;utf8,<svg fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path d='M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z'/></svg>",
      },
      chatWindow: { backgroundColor: "#FFFFFF" },
    },
  });
</script>
