
<div id="calendar"></div>

<hr>
<label for="link" style="width:10%;">Link pubblico:</label>
<input type="text" id="link" style="width:60%;" value="https://share.mailbox.org/ajax/share/0baf84f90c46e84ebe9c8c1c46e84ace8abc1c353555ae64/1/2/Y2FsOi8vMC80Mw" readonly>
<button onclick="copyToClipboard()" style="width:20%;">Copia link</button>
<hr>

<script src='{{.Site.BaseURL}}/js/fullcalendar.min.js'></script>
<script src='{{.Site.BaseURL}}/js/it.global.min.js'></script>
<script>
    async function start_calendar() {
        await fetch('https://este.linux.it/events.ics.php')
            .then( function(data){
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'timeGridWeek',
                    locale: 'it',
                    nowIndicator: true,
                    stickyHeaderDates: true,
                    expandRows: true,
                    slotMinTime: '07:00:00',
                    slotMaxTime: '23:59:00',
                    headerToolbar: {
                        left: "prev,next today",
                        center: "title",
                        right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek"
                    },
                    eventDisplay: "block",
                    events: data,
                    allDaySlot: false
                });

                calendar.render();
            });
    }

    function copyToClipboard() {
        var link = document.getElementById("link");
        link.select();
        document.execCommand("copy");
        alert("Link copiato!");
    }

    document.addEventListener('DOMContentLoaded', function() {
        start_calendar();
    });
</script>

<style>
.fc-event-main{
    line-height: 1.2em;
}
</style>