<div class="image-with-source">
    <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" title="{{ .Get "title" }}">

    {{ if strings.HasPrefix (.Get "source") "http" }}
        <small class="image-source">🛈 Fonte: <a href="{{ .Get "source" }}" target="_blank">{{ .Get "source" }}</a></small>
    {{ else if ne (.Get "source") "" }}
        <small class="image-source">🛈 Fonte: {{ .Get "source" }}</small>
    {{ end }}


    {{ if ne (.Get "author") "" }}
        <small class="image-source">🧑‍🎨 Autore: {{ .Get "author" }}</small>
    {{ end }}


    {{ if ne (.Get "license-text") "" }}
        {{ if strings.HasPrefix (.Get "license-url") "http" }}
            <small class="image-source">📄 Licenza: <a href="{{ .Get "license-url" }}" target="_blank">{{ .Get "license-text" }}</a></small>
        {{ else }}
            <small class="image-source">📄 Licenza: {{ .Get "license-text" }}</small>
        {{ end }}
    {{ end }}
</div>